<div class="container">
    This i s a Partial View 
    <br>
    <div>
        Syntax of Partial view is partial name="_Header" <br />
        Html.Partial("_header") Return string  slow  <br />
        Html.RenderPartial("_header") did not return any thing fast 
    </div>
</div>