<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-5">
            <h1 class="text-center">Access Denied</h1>
            <div class="alert alert-danger mt-4">
                <p>You do not have permission to access this page.</p>
                <p>Please contact the administrator for assistance.</p>
            </div>
        </div>
    </div>
</div>