@model RolesDto


<div class="card carousel-dark">
    <div class="card-body">
        <div class="card-title text-center mb-3">
            <h3>Update Role</h3>
        </div>
        <form id="myForm" method="post">
            <input type="hidden" asp-for="Id" />
            @* Model-level validation errors *@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="form-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>


            <input type="submit" class="btn btn-primary my-3 offset-5" value="submit" />
        </form>
    </div>
</div>